<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1>
    {{ title }}
  </h1>
  
  <br>
  <div width="60%" class="calc">
  	<div class="inner">
	  <div class="input_fields">
		  <span>
		  	<input id="num_a" type="text" placeholder="number 1" title="enter the number 1" maxlength="9" tabindex="1"
		  	(input)="onInputHandle($event)"/>
		  </span>
		  <span style="font-size: 25px;">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
		  <span>
		  	<input id="num_b" type="text" placeholder="number 2" title="enter the number 2" maxlength="9" tabindex="2"
		  	(input)="onInputHandle($event)"/>
		  </span>
	  </div>
	  <br>
	  
	  <div>
	  	<button id="equals" title="calculate" tabindex="3" (click)="onClickEquals()">=</button>
	  </div>
	  <br>
	  <br>

	  <div class="result_box">
		  <p id="calc_result" [hidden]="!hiddenRes" >Result: {{ number_a + number_b }}</p>
		  <p id="warn" [hidden]="!hiddenWarn" >Result: {{ warnMessage }}</p>
	  </div>
  </div>
  <div>
</div>



